:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    font-family: Arial, sans-serif;
}

#theme-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
}
